<header class="navbar navbar-expand-sm navbar-light bg-primary fixed-top pl-5">
  <a class="navbar-brand logo" href="/"><img alt="Enmeshed Logo" src="/assets/images/Logo.svg" class="app-logo" />enmeshed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="nav" class="navbar-nav ml-auto">
        <li class="nav-item" data-level0="understand">
             <a class="nav-link" href="/understand">Understand</a>
          </li>
          <li class="nav-item" data-level0="use">
             <a class="nav-link" href="/use">Use</a>
          </li>
        <li class="nav-item" data-level0="contribute">
             <a class="nav-link" href="/contribute">Contribute</a>
          </li>
      </ul>
  </div>
</header>
