<div>
    <textarea type="text" id="query" rows="4" style="font-size: 12px; resize: none; width: 100%">PhoneNumber && #emergency</textarea><br />
    <textarea type="text" id="validation" rows="2" disabled style="font-size: 12px; color: red; resize: none; width: 100%"></textarea>
    <br />
</div>
<div id="data" style="font-size: 8px; font-family: monospace; padding: 3px; height: 600px; overflow-y: scroll">
    <!-- Will contain rendering of the attributes -->
</div>
<script src="/assets/js/iql-demo.js"></script>
