$color-primary: #17428D;
$color-orange: #ff7600;
$color-mid-blue: #1A80D9;
$color-mid-blue-hover: #8EB0E9;
$color-mid-grey: #333333;
$color-light-grey: #9A9A9A;
$color-green: #428C17;
$color-gold: #8C6117;
$color-burgundy: #8C1742;
$color-purple: #61178C;
$color-dark-grey: #212121;

$font-family-standard: "Work Sans", "Arial", sans-serif;

$breakpoint-md-up: 768px;