name: Publish Next

on:
  push:
    branches: [main, release/**]

jobs:
  run-checks:
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/vscode/devcontainers/ruby:2.7-bullseye
    steps:
      - uses: actions/checkout@v2
      - run: gem install bundler jekyll github-pages
      - run: bundle install
      - run: bundle exec jekyll build
      - uses: actions/setup-node@v2
      - name: Deploy to gh-pages
        run: bash .ci/publish.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
